<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>坏叔叔</string>
	<key>CFBundleExecutable</key>
	<string>LockNotifyBGPrefs</string>
	<key>CFBundleIdentifier</key>
	<string>com.hchdjej.locknotifybg.prefs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LockNotifyBGPrefs</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>hchdjej</string>
	<key>NSPrincipalClass</key>
	<string>NGBPrefsRootListController</string>
</dict>
</plist>
